﻿@model Library.Common.ViewModels.Book.BookEditModel


<div id="edit_this_shit" class="form-horizontal">

    @using (Ajax.BeginForm("Edit", "Book", new AjaxOptions { OnSuccess = "OnSuccessEdit", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "edit_this_shit" }))
    {
        
            <script type="text/javascript">
                function OnSuccessEdit(e) {
                    if (e.isSuccess == true) {
                        $('#Edit').data('kendoWindow').close();
                        var grid = $('#grid');
                        var ds = grid.data('kendoGrid').dataSource;
                        var page = ds.page();
                        ds.read();
                        ds.page(page);
                    }
                }
            </script>

            @Html.AntiForgeryToken()

            <h4>Book</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Author)
                    @Html.ValidationMessageFor(model => model.Author)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(Html.Kendo()
                          .DatePickerFor(model => model.ReleaseDate)
                          .Start(CalendarView.Year)
                          .Format("yyyy-MM-dd")
                          .HtmlAttributes(new { id = "lol2" })
                    )
                    @Html.ValidationMessageFor(model => model.ReleaseDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ISBN, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISBN)
                    @Html.ValidationMessageFor(model => model.ISBN)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BookGenre, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.BookGenre)
                    @Html.ValidationMessageFor(model => model.BookGenre)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Count, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Count)
                    @Html.ValidationMessageFor(model => model.Count)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
</div>