﻿@model IEnumerable<Library.Common.ViewModels.Book.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Book List</h2>

@(Html.Kendo()
      .Grid<Library.Common.ViewModels.Book.BookViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.BookId).Width(30);
          columns.Bound(c => c.Author).Width(100);
          columns.Bound(c => c.Title).Width(250);
          columns.Bound(c => c.ReleaseDate).Width(100);
          columns.Bound(c => c.ISBN).Width(100);
          columns.Bound(c => c.BookGenre).Width(80);
          columns.Bound(c => c.CountLeft).Width(60);
          columns.Bound(c => c.CountBorrow).Width(60);
          columns.Bound(c => c.AddDate).Width(100);
          columns.Bound(c => c.ModifiedDate).Width(120);
          columns.Command(command => command.Custom("Edit").Click("openEditWindow"));
      })
      .HtmlAttributes(new { style = "height: 680px;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .ToolBar(toolBar => toolBar.Custom()
                                 .Text("Create")
                                 .HtmlAttributes(new { id = "openCreateWindow" })
                                 .Url("#"))
      .ClientDetailTemplateId("template")
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .PageSize(10)
                                          .Read(read => read.Action("BookListJson", "Book")))
)

@(Html.Kendo().Window().Name("Edit").Visible(false)
)
@(Html.Kendo().Window().Name("Create").Visible(false)
)

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo()
          .TabStrip()
          .Name("tabStrip#=BookId#")
          .SelectedIndex(1)
          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
          .Items(items =>
          {
              items.Add().Text("History").Content(@<text>
                  @(Html.Kendo()
                        .Grid<Library.Common.ViewModels.Borrow.UserHistoryBorrowInfoModel>()
                        .Name("grid_#=BookId#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.UserName).Width(120);
                            columns.Bound(o => o.FromDate).Width(120);
                            columns.Bound(o => o.ToDate).Width(120);
                            columns.Bound(o => o.GetIsReturned).Width(60);
                        })
                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(5)
                                                            .Read(read => read.Action("GetBookHistory", "Book", new { id = "#=BookId#" })))
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate())
                  </text>
                  );
              items.Add().Text("Borrowed").Content(@<text>
                  @(Html.Kendo()
                        .Grid<Library.Common.ViewModels.Borrow.UserBorrowInfoModel>()
                        .Name("grid2_#=BookId#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.UserName).Width(120);
                            columns.Bound(o => o.FromDate).Width(120);
                            columns.Bound(o => o.ToDate).Width(120);
                        })
                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(5)
                                                            .Read(read => read.Action("GetBookStatus", "Book", new { id = "#=BookId#" })))
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate())
                  </text>
                  );
          })
          .ToClientTemplate())
    
</script>
    
<script type="text/javascript">
    
    $(document).ready(function () {
        console.log("ready!");
        kendo.culture("pl-PL");
    
        $("#openCreateWindow").click(function (e) {
            var urlAction = "@Url.Action("Create", "Book")";
            var wnd = $("#Create").kendoWindow({
                                                   content: urlAction,
                                                   visable: true,
                                                   width: 400,
                                                   modal: true,
                                                   position: {
                    top: "10%",
                    left: "40%"
                }
                                               }).data("kendoWindow")
                .title("Add Book Menu")
                .open()
        });
    });
    
    //var detailsTemplate = kendo.template($("#editTemplate").html());
    
    function openEditWindow(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var urlAction = "@Url.Action("Edit", "Book")";
    
        var id = dataItem.BookId
        var wnd = $("#Edit").kendoWindow({
                                             content: "Book/Edit" + "/" + id,
                                             visable: true,
                                             modal: true,
                                             position: {
                top: "10%",
                left: "40%"
            }
                                         }).data("kendoWindow")
            .title("Edit Book Menu")
            .open()
    }
</script>
