﻿@model Library.Common.ViewModels.Borrow.BorrowBooksModel

<div id="topicInformation"></div>

@(Html.Kendo().DropDownList()
.Name("usersList")
.DataTextField("Text2")
.DataValueField("Value")
.Events(e=>e.Change("chooseUser"))
)



<script type="text/javascript">
    
    
    $(document).ready(function () {
        function chooseUser() {
            debugger;
            var value = $("#usersList").val();
            var urlAction = "@Url.Action("GetAviableBooksForUser", "Borrow")";
            $.ajax({
                url: urlAction,
                type: "POST",
                data: JSON.stringify({ 'id': value }),
                traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status === "success") {
                        booksForUser = data.message;
                        createNewBookDropDownList();
                        bookNumber = 1;
                    } else if (data.status === "failure") {
                        $("div#topicInformation").html(data.message);
                        $("div#topicInformation").css("background-color", "red");
                    }
                },
                error: function () {
                    $("div#topicInformation").html("Ohhh big shit happend!");
                    $("div#topicInformation").css("background-color", "red");
                }
            });

        }
        function createNewBookDropDownList() {
            wnd = "@Html.Kendo().DropDownList().Name("bookDropDownList#bookNumber#")";

        }
    });
</script>