﻿@model IEnumerable<Library.Common.ViewModels.Statistics.BookStatisticsViewModel> 


@(Html.Kendo()
      .Grid<Library.Common.ViewModels.Statistics.BookStatisticsViewModel>()
      .Name("booksStatisticsGrid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Author).Width(130).Sortable(false);
          columns.Bound(c => c.Title).Width(130);
          columns.Bound(c => c.ReleaseDate).Width(120);
          columns.Bound(c => c.GenerName).Width(100);
          columns.Bound(c => c.BorrowsCount).Width(100).Sortable(true);
      })
      .BindTo((IEnumerable<Library.Common.ViewModels.Statistics.BookStatisticsViewModel>)Model)
      .Sortable(c=>c.Enabled(false))
      .HtmlAttributes(new { style = "height: 380px;" })
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                    
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .Sort(c => c.Add("BorrowsCount").Descending())
                                          .PageSize(10)
                                          .Read(read => read.Action("BooksJson", "Statistics")
                                              .Data("FilterBookListScope.GetFiltrAttributs")
                                          ))
                                          )


