﻿<br />

<div class="form-horizontal">
    <h3>Book Filter:</h3>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.Label("Gener", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Html.Kendo()
                  .ComboBox()
                  .MinLength(1)
                  .AutoBind(false)
                  .Name("filter_GenerDropDownList")
                  .DataTextField("Text")
                  .DataSource(dataSource => dataSource.Read(read => read.Action("GetGenres", "Statistics")))
            )
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Title", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Html.Kendo()
                  .TextBox()
                  .Name("filter_Title"))
        </div>
    </div>

    <div class="form-group">
        @Html.Label("From Date", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Html.Kendo()
                  .DatePicker()
                  .Format("{0:yyyy-MM-dd}")
                  .Name("filter_FromDate")
            )
        </div>
    </div>

    <div class="form-group">
        @Html.Label("To Date", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Html.Kendo()
                  .DatePicker()
                  .Name("filter_ToDate")
            )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @(Html.Kendo().Button().Name("filter_filterButton").Content("Filtr"))
            @(Html.Kendo().Button().Name("filter_resetButton").Content("Reset"))
        </div>
    </div>

</div>

<script type="text/javascript">
    function FilterBookListScope() {
        var self = this;
        var title, fromDate, toDate, gener;

        this.Init = function () {
            $(document).on('click', '#filter_filterButton', self.Filtr);
            $(document).on('click', '#filter_resetButton', self.Reset);
        };

        refresh = function () {
            $("booksStatisticsGrid").data("kendoGrid").dataSource.read();
        };

        this.Filtr = function () {
            setFiltrParameters();
            var ds = $("#booksStatisticsGrid").data("kendoGrid").dataSource;
            var filter = [];
            if (title.length > 0) {
                filter.push({ field: "Title", operator: "startswith", value: title })
            }
            if (fromDate !== null) {
                filter.push({ field: "ReleaseDate", operator: "gte", value: fromDate })
            }
            if (toDate !== null) {
                filter.push({ field: "ReleaseDate", operator: "lte", value: toDate })
            }
            if (gener !== null) {
                filter.push({ field: "GenerId", operator: "startswith", value: gener })
            }
            if (filter.length > 0) {
                ds.filter(filter)
            }
        };
        setFiltrParameters = function () {
            title = $("#filter_Title").val()
            fromDate = $("#filter_FromDate").data("kendoDatePicker").value();
            toDate = $("#filter_ToDate").data("kendoDatePicker").value();
            var dataItem = $("#filter_GenerDropDownList").data("kendoComboBox").dataItem();
            if (dataItem != undefined) {
                gener = dataItem.Value;
            }
            else {
                gener = null;
            }
        };
        this.Reset = function () {
            var ds = $("#booksStatisticsGrid").data("kendoGrid").dataSource;
            $("#filter_Title").val("")
            $("#filter_FromDate").data("kendoDatePicker").value(0);
            $("#filter_ToDate").data("kendoDatePicker").value(0);
            $("#filter_GenerDropDownList").data("kendoComboBox").value(null);
            ds.filter("")
        };
    }
    
    $(document).ready(function () {
        filter = new FilterBookListScope();
        filter.Init();
    });
</script>

<br />
