﻿@model IEnumerable<Library.Common.ViewModels.Statistics.UserStatisticsViewModel>


<script type="text/javascript">
    function userLastNameFilter(element) {
        element.kendoAutoComplete({
            dataSource: {
                transport: {
                    read: "@Url.Action("UsersLastsNames", "Statistics")"

                }

                
                                      }
        });
    }
</script>

@(Html.Kendo()
      .Grid<Library.Common.ViewModels.Statistics.UserStatisticsViewModel>()
      .Name("usersStatisticsGrid")
      .Columns(columns =>
      {
          columns.Bound(c => c.FirstName).Width(150)
                 .Filterable(false);
          columns.Bound(c => c.LastName)
                 .Width(150)
                 .Filterable(filterable => filterable.UI("userLastNameFilter")
                 );
          columns.Bound(c => c.BorrowsCount).Width(80)
                 .Filterable(false);
      })
      .BindTo((IEnumerable<Library.Common.ViewModels.Statistics.UserStatisticsViewModel>)Model)
      .HtmlAttributes(new { style = "height: 380px;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .Filterable(ftb => ftb
          .Extra(false)
          .Operators(operators => operators
              .ForString(
              str => str.Clear()
                  .StartsWith("Start with")
                  )).Mode(GridFilterMode.Row)
          )
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .Sort(c => c.Add("BorrowsCount").Descending())
                                          .PageSize(10)
                                          .Read(read => read.Action("UsersJson", "Statistics"))))


