﻿@model IEnumerable<Library.Common.ViewModels.Borrow.BookBorrowedByUserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Borrowed Book List</h2>
<div id="information" style="font-size:20px">
</div>
@(Html.Kendo()
      .Grid<Library.Common.ViewModels.Borrow.BookBorrowedByUserModel>()
      .Name("gridBorrowedBooks")
      .Columns(columns =>
      {
          columns.Bound(c => c.BookId).Width(80);
          columns.Bound(c => c.Author).Width(100);
          columns.Bound(c => c.Title).Width(100);
          columns.Bound(c => c.FirstName).Width(150);
          columns.Bound(c => c.LastName).Width(150);
          columns.Bound(c => c.FromDate).Width(120);
          columns.Bound(c => c.ToDate).Width(120);
          columns.Command(command => command.Custom("Return").Click("returnBook"));
      })
      .HtmlAttributes(new { style = "height: 680px;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .ClientDetailTemplateId("bookDetailsTemplate")
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .PageSize(10)
                                          .Read(read => read.Action("BookBorrowedJson", "Borrow")))
)

<script id="bookDetailsTemplate" type="text/kendo-tmpl">
    <div class="bookDetailsContent#=uid#">
    </div>
    #var urlAction = "../Book/BookInfoDetails/"+BookId;#
    #$.ajax({url: urlAction,type: "GET", success: function (data) { $(".bookDetailsContent"+uid).html(data)}});#
</script>

<script type="text/javascript">

    $(document).ready(function () {
        console.log("ready!");
    })

    function returnBook(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var urlAction = "@Url.Action("ReturnBook", "Borrow")";
        urlAction += "/"+dataItem.BorrowId
        var id = dataItem.BookId
        var grid = $('#gridBorrowedBooks');
        var ds = grid.data('kendoGrid').dataSource;
        var page = ds.page();

        $.ajax({
                   url: urlAction,
                   type: "POST",
                   dataType: "json",
                   success: function (data) {
                       if (data.status == "success") {
                           $("div#information").replaceWith("Great Job You Did It!")
                           $("div#information").css("background-color", "green");
                       } else {
                           $("div#information").replaceWith("Ohhh some shit happend!")
                           $("div#information").css("background-color", "red");
                       }
                   },
                   error: function () {
                       $("div#information").replaceWith("Ohhh big shit happend!")
                       $("div#information").css("background-color", "red");
                   }
               });
        ds.read();
        ds.page(page);
    }
</script>


