﻿<body>
    <style>
        #UsresDropDownList_listbox
        {
            display: block;
        }
        #UsersDropDownList_listbox li
        {
            width: 90%;
        }
        div[id^=BooksDropDownList] li
        {
            width: 90%;
        }
        #borrowButton
        {
            display: table-row;
            float: right;
            margin: 10px;
            margin-bottom: 5px;
        }
    </style>
</body>
<div id="informationTopic"> </div>


@(Html.Kendo()
      .DropDownList()
      .Name("UsersDropDownList")
      .DataTextField("Value")
      .DataValueField("Text")
      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Action("GetAviableUsers", "Borrow");
          });
      })
      .OptionLabel("--Select a User--")
      .Events(e =>
      {
          e.Select("borrowBooksScope.OnSelectUsersDropDwonList");
      })
) <br/>
@(Html.Kendo()
      .Button()
      .Name("borrowButton")
      .HtmlAttributes(new { type = "button", @class = "k-primary" })
      .Content("Borrow Books")
      .Events(e =>
      {
          e.Click("borrowBooksScope.BorrowBooks");
      })
)
      
<div id="TemplateBooksDropDownList" class="booksDropDownListTemplate" style="display: none">
    <br/>
    @(Html.Kendo()
          .DropDownList()
          .Name("BooksDropDownList")
          .DataTextField("Value")
          .DataValueField("Text")
          .OptionLabel("--Select a Book--")
          .Events(e =>
          {
              e.Select("BorrowBooksScope.OnSelectBookDropDownList");
          })
    )
</div>
              

<script type="text/javascript">
    function BorrowBooksScope() {
        var self = this;
        var userId, selectedBooksList, indexOfBook, indexesOfDropDownLists, 
            urlActionGetBooks, booksList, freeBooksList, urlActionBorrowBooks;

        this.Init = function() {
            setFieldsStaticValues();
        }

        this.OnSelectUsersDropDownList = function (e) {
            debugger;
            resetFieldsForNewUser();
            sendAjaxGetBooksRequest();
        };
    
        sendAjaxGetBooksRequest = function() {
            $.ajax({
                       url: urlActionGetBooks,
                       type: "POST",
                       data: JSON.stringify({ 'id': userId }),
                       traditional: true,
                       contentType: "application/json; charset=utf-8",
                       dataType: "json",
                       success: function (data) {
                           if (data.status === "success") {
                               ajaxGetBooksSuccessRespond(data);
                           } else if (data.status === "failure") {
                               ajaxGetBooksFailureRespond(data);
                           }
                       },
                       error: function () {
                           ajaxGetBooksExceptionRespond();
                       }
                   });
        };
    
        ajaxGetBooksSuccessRespond = function(data) {
            closeEachBookDropDownList();
            booksList = books;
            freeBooksList = jQuery.extend(booksList.Data, freeBooksList);
            createNewDropDownListWithBooks(indexOfBook, bookList.Data);
        };
    
        ajaxGetBooksFailureRespond = function() {
            showTopicInformationForClient(data.message, true)
            closeEachBookDropDownList();
        };
    
        ajaxGetBooksExceptionRespond = function() {
            showTopicInformationForClient("Unknown Error!", true)
            closeEachBookDropDownList();
        };
    
        closeEachBookDropDownList = function() {
            var dropdownliststoclose = $("div[id^=DivBooksDropDownList]");
            $.each(dropdownliststoclose, function(index, item) {
                item.remove();
            });
        };
    
        createFirstNewDropDownListWithBooks = function(data) {
            var idIndex = "0";
            indexesOfDropDownLists.push(idIndex);
            var templateDropDownList = getTemplateForDropDownList(indexOfBook);
            addToViewFirstDropDownListWithBooks(templateDropDownList);
            addDataToDropDownListWithBooks(idIndex, data);
            bindOnSelectFunctionToDropDownListWithBooks(idIndex);
        };
    
        createNextNewDropDownListWithBooks = function(idIndex, data) {
            indexesOfDropDownLists.push(idIndex);
            var templateDropDownList = getTemplateForDropDownList(indexOfBook);
            addToViewNextDropDownListWithBooks(templateDropDownList, indexOfBook);
            addDataToDropDownListWithBooks(idIndex, data);
            bindOnSelectFunctionToDropDownListWithBooks(idIndex);
            indexOfBook += 1;
        };
    
        getTemplateForDropDownList = function(idIndex) {
            var template = $("#TemplateBooksDropDownList")
                .clone()
                .attr("id", "DivBooksDropDownList" + (idIndex))
                .css("display", "block");
            $("#DivBooksDropDownList" + idIndex + " input").attr("id", "BooksDropDownList" + (indexOfBook))
            return template;
        };
    
        addToViewFirstDropDownListWithBooks = function(template) {
            template.insertAfter("[aria-owns='UsersDropDownList_listbox']");
        };
    
        addToViewNextDropDownListWithBooks = function(template, index) {
            template.insertAfter("#DivBooksDropDownList" + index);
        };
    
        addDataToDropDownListWithBooks = function (idIndex, data) {
            $("#DivBooksDropDownList" + idIndex + " input").kendoDropDownList({
                                                                                  dataTextField: "Text",
                                                                                  dataValueField: "Value",
                                                                                  dataSource: data,
                                                                                  optionLabel: "--Select a Book--"
                                                                              });
        };
    
        bindOnSelectFunctionToDropDownListWithBooks = function(idIndex) {
            var kendoList = $("#DivBooksDropDownList" + idIndex + " input").data("kendoDropDownList");
            kendoList.bind("select", onSelectBookDropDownList);
        };
        
        getSelectedUserId = function(e) {
            return this.dataItem(e.item).Text;
        };
    
        setFieldsStaticValues = function() {
            urlActionGetBooks = "@Url.Action("GetAviableBooksForUser", "Borrow")";
            urlActionBorrowBooks = "@(Url.Action("BorrowBooks", "Borrow"))";
        };

        resetFieldsForNewUser = function() {
            borrowUserId = getSelectedUserId(e);
            selectedBooksList = [];
            indexOfBook = 0;
            indexesOfDropDownLists = [];
            freeBooksList = [];
        };
    
        showTopicInformationForClient = function(message, error) {
            $("div#informationTopic").html(message);
            if (error === true) {
                $("div#informationTopic").css("background-color", "red");
            }
        };
    
        this.OnSelectBookDropDownList = function(e) {
            //var dataItem = this.dataItem(e.item);
            var kendoList = $("#" + e.sender.element.attr('id')).data("kendoDropDownList");
            var idSelectedList = getId_BookDropDownList(e);
            var selectedBookId = this.dataItem(e.item).Value;

            // if this is last dropdownlist with novalue
            if (selectedBookId === "" && idSelectedList === indexOfBook) {
                return;
            }
            // if client change book in dropdownlist
            if (idSelectedList !== indexOfBook) {
                var previousBookId = this.value();
                freeBook(previousBookId, idSelectedList);
            }
            // if client change book to nonbook
            if (idSelectedList === "") {
                destroyDropDownList(idSelectedList)
            } else {
                boundBook(selectedBookId, idSelectedList);
            }
            // create bookDropDownList
            if ((value === "" && freeBooksList.length === 1) || (idKendoList == indexOfBook && freeBooksList.length !== 0)) {
                createNextNewDropDownListWithBooks(indexOfBook, freeBooksList);
            }
            updateButton();
        }
        updateButton = function() {
            var buttonObject = $("#borrowButton").data("kendoButton");
            if (selectedBooksList.length > 0) {
                buttonObject.enable(true);
            }else {
                buttonObject.enable(false);
            }
        }
    
        freeBook = function(bookId, idList) {
            var previousBook;
            selectedBooksList = $.grep(selectedBooksList, function (e) {
                if (e.Value === bookId) {
                    freeBooksList.push(e);
                    previousBook = e;
                }
                return e.Value !== bookId;
            });
            debugger;
            addBookToOthersDropDownLists(idList, previousBook);
        }
        boundBook = function(bookId, idList) {
            freeBooksList = $.grep(freeBooksList, function (e) {
                if (e.Value === bookId) {
                    selectedBooksList.push(e);
                }
                return e.Value !== value;
            });
            removeBookFromOthersDropDownLists(idList, bookId);
        }
    
        addBookToOthersDropDownLists = function(idList, book) {
            for (var index in indexesOfDropDownLists) {
                var dropDownListId = indexesOfDropDownLists[index]
                if (dropDownListId !== idList) {
                    addBookToDropDownList(dropDownListId, book);
                }
            }
        }
    
        addBookToDropDownList = function(listId , book) {
            var kendoBookList = $("#BooksDropDownList" + listId).data("kendoDropDownList");
            book = getBookById(book.val());
            kendoBookList.dataSource.add(book);
            kendoBookList.refresh();
        }
    
        removeBookFromOthersDropDownLists = function(idList, bookId) {
            for (var index in indexesOfDropDownLists) {
                var dropDownListId = indexesOfDropDownLists[index];
                if (dropDownListId !== idList) {
                    removeBookFromDropDownList(dropDownListId, bookId);
                }
            }
        }
    
        removeBookFromDropDownList = function(idList , bookId) {
            var kendoBookData = $("#BooksDropDownList" + idList).data("kendoDropDownList");
            var bookList = kendoBookData.dataSource.data();
            for (var index in bookList) {
                if (bookList[index].Value === bookId) {
                    var toRemove = kendoBookData.dataSource.data()[index];
                    kendoBookData.dataSource.remove(toRemove);
                }
            }
            kendoBookData.refresh();
        }
        getId_BookDropDownList = function(e) {
            return e.sender.element.attr('id').substring(17);
        }
    
        destroyDropDownList = function(idList) {
            indexesOfDropDownLists = $.grep(indexesOfDropDownLists, function (e) {
                return e != idList;
            });
            $("#DivBooksDropDownList" + idList).remove();
        }
    
        this.BorrowBooks = function(e) {
            var selectedIdBooksList = [];
            $.each(selectedBooksList, function(index, item) {
                selectedIdBooksList.push(item.Value)
            });
            sendAjaxBorrowBooksRequest(selectedIdBooksList);
        }
        sendAjaxBorrowBooksRequest = function (bookIdList) {
            $.ajax({
                url: urlActionBorrowBooks,
                       type: "POST",
                       data: JSON.stringify({ 'userId': userId, 'books': bookIdList }),
                       traditional: true,
                       contentType: "application/json; charset=utf-8",
                       dataType: "json",
                       success: function (data) {
                           if (data.status === "success") {
                               var gridBorrowedBooks = $('#gridBorrowedBooks');
                               if (gridBorrowedBooks.length > 0) {
                                   var dsBorrowedBooks = gridBorrowedBooks.data('kendoGrid').dataSource;
                                   dsBorrowedBooks.read();
                               }
                               var gridBooks = $('#grid');
                               if (gridBooks.length > 0) {
                                   var dsBooks = gridBooks.data('kendoGrid').dataSource;
                                   dsBooks.read();
                               }
    
                               $("#BorrowBooks").html("Brawo. You borrowed some books.");                    
                           } else if (data.status === "failure") {
                               $("#BorrowBooks").html("Some problems occurreds!" + data.message);        
                           }
                       },
                       error: function () {
                           $("#BorrowBooks").html("BIG PROBLEM!");
                           $("#BorrowBooks").css("background-color", "red");
                       }
                   });
        }
        $(document).ready(function () {
            var buttonObject = $("#borrowButton").data("kendoButton");
            buttonObject.enable(false);
            $("#UsersDropDownList_listbox li").css("width", "400px");
            debugger;
            borrowBooksScope = new BorrowBooksScope();
            borrowBooksScope.Init();
        });
    }
    
    </script>