﻿@{
    ViewBag.Title = "Index";
}

<h2>Users with books</h2>
<div id="information" style="font-size:20px">
</div>
@(Html.Kendo()
      .Grid<Library.Common.ViewModels.Borrow.UserBorrowCountModel>()
      .Name("gridBorrowedBooks")
      .Columns(columns =>
      {
          columns.Bound(c => c.UserId).Width(80);
          columns.Bound(c => c.FirstName).Width(100);
          columns.Bound(c => c.LastName).Width(100);
          columns.Bound(c => c.Count).Width(150);
      })
      .HtmlAttributes(new { style = "height: 680px;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .ToolBar(toolBar => toolBar.Custom()
                                 .Text("Return checked books")
                                 .HtmlAttributes(new { id = "returnBooksButton" })
                                 .Url("#"))
      .ToolBar(toolBar => toolBar.Custom()
                                 .Text("Borrow new books")
                                 .HtmlAttributes(new { id = "borrowBook" })
                                 .Url("#"))
      .ClientDetailTemplateId("userDetailsTemplate")
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .PageSize(10)
                                          .Read(read => read.Action("UsersWithBooksJson", "Borrow")))
)

<script id="userDetailsTemplate" type="text/kendo-tmpl">
    @(Html.Kendo()
          .TabStrip()
          .Name("tabUserWithBooksStrip#=UserId#")
          .SelectedIndex(0)
          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
          .Items(items =>
          {
              items.Add().Text("Books").Content(@<text>
                  @(Html.Kendo()
                        .Grid<Library.Common.ViewModels.Borrow.BookBorrowedReturnModel>()
                        .Name("gridUserBooks#=UserId#")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Author);
                            columns.Bound(c => c.Title)
                                   .ClientTemplate("<strong>\\#:Title\\#</strong>");
                            columns.Bound(c => c.FromDate);
                            columns.Bound(c => c.ToDate);
                            columns.Template(c => Html.ActionLink("Borrow", "Return"))
                                   .Title("Return")
                                   .ClientTemplate("<input class='checkboxBorrow' type='checkbox' id='\\#:BorrowId\\#' ></input>");
                        })
                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(5)
                                                            .Read(read => read.Action("GetBorrowedBooksByUserJson", "Borrow", new { id = "#=UserId#" })))
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate()
                  )
                  </text>
                  );
              items.Add().Text("User Details").Enabled(true).LoadContentFrom(
                  "../User/UserInfoDetails/" + "#=UserId#");
          })
          .ToClientTemplate());
</script>


<script type="text/javascript">
    function UsersWithBooksScope() {
        var self = this;
        var books, grid, dataSource, booksArray, urlAction;

        this.Init = function () {
            $(document).on('click', '#returnBooksButton', self.ReturnBook);
        }

        this.ReturnBook = function (e) {
            e.preventDefault();
            setFields();
            for (index in booksArray) {
                var book = booksArray[index];
                if (book.checked) {
                    returnBooks.push(book.id)
                }
            }
            sendAjaxRequest();
            dataSource.read();
        };

        setFields = function () {
            returnBooks = [];
            grid = $('#gridBorrowedBooks');
            dataSource = grid.data('kendoGrid').dataSource;
            booksArray = $(".checkboxBorrow").toArray();
            urlAction = "@Url.Action("ReturnBooks", "Borrow")";
        };

        sendAjaxRequest = function () {
            $.ajax({
                url: urlAction,
                type: "POST",
                data: JSON.stringify({ 'id': returnBooks }),
                traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    successAjaxRespond(data);
                },
                error: function () {
                    errorAjaxRespond();
                }
            });
        };

        successAjaxRespond = function (data) {
            if (data.status === "success") {
                $("div#information").html("Great Job You Did It! You returend yours books!");
                $("div#information").css("background-color", "green");
                $("div#information").css("color", "white");
            } else if (data.status === "nonBooks") {
                $("div#information").html(data.message);
                $("div#information").css("background-color", "red");
            }
        };

        errorAjaxRespond = function () {
            $("div#information").html("Ohhh big shit happend!");
            $("div#information").css("background-color", "red");
        };
    }
    $(document).ready(function () {
        returnUsersWithBooksScope = new UsersWithBooksScope();
        returnUsersWithBooksScope.Init();
    });
</script>
