﻿@model Library.Common.ViewModels.User.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>



    <h4>History</h4>
    @if (Model.Borrow.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().ToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().IsReturned)
                </th>
                <th></th>
            </tr>
            @foreach (var book in Model.Borrow)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => book.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.IsReturned)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h5>Clear</h5>
    }

    <h4>Borrow</h4>
    @if (Model.History.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().ToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrow.First().IsReturned)
                </th>
                <th></th>
            </tr>
            @foreach (var book in Model.History)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => book.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.IsReturned)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h5>Clear</h5>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
