﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>

        <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.default.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/kendo/2015.2.624/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2015.2.624/jszip.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.all.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.aspnetmvc.min.js")"></script>

        <style>
            ul#menu >li >a:hover
            {
                background-image: linear-gradient(#FFF 0%, #444 40%, #444 60%, #FFF 100%);
                color: white;
            }
            ul#menu
            {
                width: 80%;
                margin: 0 auto;
                padding: 0;
                list-style-type: none;
            }
            ul#menu > li
            {
                float: left;
            }
            ul#menu > li > a
            {
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 15px; 
                height: 60px;
                text-decoration: none;
                text-align: center;
                display: block;
                color: #000;
                box-shadow: 0 0 0 1px #FFF inset;
                background-image: linear-gradient(#FFF 0%, #EEE 30%, #DDD 70%, #FFF 100%);
            }
            #menu > li:hover > a
            {
                color: #00F;
                background-color: #FFF;
            }
            ul#menu > li:nth-child(even)
            {
        
            }
        
            ul#menu > li:nth-child(odd)
            {
        
            }
            ul#menu:after
            {
                content: '';
                display: block;
                clear: both;
            }
            ul > li
            {
                width: 20%;
            }
        </style>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Borrow", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <ul id="menu">
            <li>
                @Html.ActionLink("Users", "Index", "User")
            </li>
            <li>
                @Html.ActionLink("Books", "Index", "Book")
            </li>
            <li>
                @Html.ActionLink("Borrowed Books", "BorrowedBooks", "Borrow")
            </li>
            <li>
                @Html.ActionLink("Users with Books", "UsersWithBooks", "Borrow")
            </li>
            <li id="borrowBookLink">
                <a href="#">Borrow Book</a>
            </li>
        </ul>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>-->
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")

@(Html.Kendo().Window().Name("BorrowBooks").Visible(false)
)
        <script type="text/javascript">
            $(document).ready(function () {
                kendo.culture("pl-PL");
                $("#borrowBookLink :first-child").click(function () {
                var urlAction = "@Url.Action("BorrowBook", "Borrow")";
                var wnd =
                    $("#BorrowBooks")
                        .kendoWindow({
                                         content: urlAction,
                                         visable: true,
                                         width: 400,
                                         modal: true,
                                         position: {
                                top: "10%",
                                left: "40%"
                            }
                                     }).data("kendoWindow")
                        .title("Borrow Books").open();
                });
            });
        </script>
    
    </body>
</html>